<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ROI Calculator</title>
</head>
<body>
<h1>ROI Calculator </h1>
    <p1></p1>
         <form action="#" method="post">
             <label for="date">Please enter a date in MM/DD/YYYY format, include slashes</label><br>
             <input type="text" id="ent" name="dater"><br>
            <label for="investment">Please enter amount of $USD you would like to invest</label><br>
            <input type="text" id="lname" name="invamt">
             <input type="submit" value="Submit">
        </form>

</body>
</html>